<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <meta name="theme-color" content="#db0000"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="icon-if.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="manifest.json">
  <title>Bachelor of Informatics</title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <img src="icon-bar.png" alt="icon-bar">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/now-playing">Beranda</a></li>
        <li><a href="#/upcoming">Tentang</a></li>
        <li><a href="#/now-playing">Rencana Akademik</a></li>
        <li><a href="#/upcoming">Mahasiswa dan Alumni</a></li>
        <li><a href="#/upcoming">Internasional Program</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent"></main>
  <footer>
    <p>All data obtained from <a href="https://themoviedb.org" target="_blank" rel="noreferrer">TheMovieDB</a></p>
  </footer>
</body>
</html>